body{
    font-family: 'Roboto', sans-serif;
}
/* header*/
header .logo{
   text-align: center;
}
header .images img{
    width: 100%;
}
.nav{
    display: flex;
    justify-content: center;
}
/*Acceuil*/
.titre{
    text-align: center;
}
button{
    height: 51px;
    width: 270px;
    border-bottom-right-radius: 26px;
    border-top-left-radius: 26px;
    border-top-right-radius: 26px;
    border-bottom-left-radius: 26px;
    border: none;
    color: white;
    background: linear-gradient(#FF79DA,#9356DC)
    }

    
/*Fonctionnement*/
#Fonctionnement .item{
    display: flex;
    background-color: white;
    box-shadow: 0 0 6px #0000002e;
    width: 400px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 50px;
    margin-bottom: 15px;
}
#Fonctionnement .item:hover{
    color: #9356DC;
}
#Fonctionnement i{
    margin-left: 50px;
    margin-top: 15px;
    color: black;
}
#Fonctionnement p{
    margin-left: 29px;
    color: black;
}
#Fonctionnement .numbers p{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #9356DC;
    color: white;
    width: 19px;
    height: 22px;
    margin-left: -6px;
    padding-left: 6px;
}
#Fonctionnement a{
    display: flex;
    text-decoration: none;
}
/*resto*/
#Restaurants{
    background-color:  #F2F2F2;
    width: 100%;
    padding-bottom: 40px;
}
.Resto{
    width: 100%;
    display: flex;
}
.Resto img{
    width: 100%;
    border-top-right-radius: 11px;
    border-top-left-radius: 11px;
    margin-top: 1px;
    object-fit: cover;
    height: 250px;
}
.Resto a{
    margin-right: 15px;
    text-decoration: none;
    width: 25%;
}
.Resto p,h3{
    color: black;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
}
.Resto i{
    cursor: pointer;
    transition: transform 400ms;
}
.Resto i.fas{
    position: absolute;
    right: 15px;
    opacity: 0;
    color: transparent;
    background-image: linear-gradient(#9356DC,#FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
}
.Resto i.far{
    position: relative;
    margin-right: 15px;
}
.Resto i.fas:hover{
    opacity: 1;
}
.flex{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.content{
    background-color: white;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}
/* footer */
footer{
    background-color: dimgray;
}
footer h3{
    color: white;
    margin-left: 39px;
    padding-top: 14px;
}
footer ul{
    list-style-type: none;
}
footer a{
    display: flex;
    color: white;
    text-decoration: none;
    padding-bottom: 10px;
}
footer i{
    color: white;
}
footer li{
    margin-left: 10px;
    margin-top: 3px;
    color: white;
}
/*Menu*/
header i{
    font-size: 40px;
}
header .images {
    height: 400px;
    overflow: hidden;
}
.cards{
    justify-content: space-between;
    display: flex;
    margin-top: -30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #F2F2F2;
    margin-bottom: -22px;
    position: relative;
}
.cards i{
    color: transparent;
    background-image: linear-gradient(#9356DC,#FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    cursor: pointer;
    transition: transform 400ms;
    position: absolute;
    padding-top: 25px;
    padding-right: 10px;
}
.cards i.fas{
    right: 15px;
    opacity: 0;

}
.cards i.far{
    position: relative;
    margin-right: 15px;
}
.cards i.fas:hover{
    opacity: 1;
}
#Entree{
    background-color: #F2F2F2;
    margin-bottom: -20px;
}
#Entree a{
    text-decoration: none;
}
#Entree .content{
    background-color: white;
    box-shadow: 0 0 6px #0000002e;
    margin-bottom: 15px;
    height: 60px;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 7s;
    -moz-animation: fadeIn 7s;
    -o-animation: fadeIn 7s;
    -ms-animation: fadeIn 7s;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
#Entree h1{
    border-bottom: 3px solid #99E2D0;
    width: 50px;
}
#Entree h3{
    color: black;
}
#Entree p{
    color: black;
    margin-left: 10px;
    margin-top: 2px;
}
#Entree .flex:hover .anims{
    display: flex;
    background-color: #99E2D0;
    height: 60px;
    width: 59px;
    margin-top:-33px;
    animation-duration: 1s;
    animation-name: slidein;
}

.anims{
    display: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.anims i{
    text-align: center;
    color: white;
    margin-left: 23px;
    margin-top: 23px;
    animation: rotation 1.5s
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
#Plat{
    background-color: #F2F2F2;
    margin-bottom: -20px;
}
#Plat a{
    text-decoration: none;
}
#Plat h1{
    border-bottom: 3px solid #99E2D0;
    width: 50px;
}
#Plat .content{
    background-color: white;
    box-shadow: 0 0 6px #0000002e;
    margin-bottom: 15px;
    height: 60px;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 7s;
    -moz-animation: fadeIn 7s;
    -o-animation: fadeIn 7s;
    -ms-animation: fadeIn 7s;
}
#Plat h3{
    color: black;
}
#Plat p{
    color: black;
    margin-left: 10px;
    margin-top: 2px;
}
#Plat .flex:hover .anims{
    display: flex;
    background-color: #99E2D0;
    height: 60px;
    width: 59px;
    margin-top:-33px;
    animation-duration: 1s;
    animation-name: slidein;
}
@keyframes slidein{
    from{
        margin-left : 0%;
        width : 0%;
    }

    to{
        margin-left : 4.5%;
        width : 4.5%;
    }
}
#Dessert{
    background-color: #F2F2F2;
    margin-bottom: -20px;
}
#Dessert a{
    text-decoration: none;
}
#Dessert h1{
    border-bottom: 3px solid #99E2D0;
    width: 50px;
}
#Dessert h3{
    color: black;
}
#Dessert p{
    color: black;
    margin-left: 10px;
    margin-top: 2px;
}
#Dessert .content{
    background-color: white;
    box-shadow: 0 0 6px #0000002e;
    margin-bottom: 15px;
    height: 60px;
    animation: fadeIn 5s;
}
#Dessert .flex:hover .anims{
    display: flex;
    background-color: #99E2D0;
    height: 60px;
    width: 59px;
    margin-top:-33px;
    animation-duration: 1s;
    animation-name: slidein;
}
.but{
    text-align: center;
    background-color: #F2F2F2;
    height: 74px;
    padding-top: 38px;
}
/*media queries*/
/*tablettes*/
@media all and (min-width: 768px) and (max-width: 992px){
    header{
        display: block;
    }
    header .logo{
        width: initial;
    }
    header .logo img{
        height: 30px;
    }
    header .logo i{
        color: black;
    }
    header .images img{
        width: 100%;
    }
    #Accueil{
        width: 100px;
    }
    button{
        margin-bottom: 20px;
        margin-top: 20px;
        width: 120px;
        height: 30px;
    }
    #Fonctionnement{
        display: block;
        width: initial;
    }
    #Fonctionnement .flex{
        display: block;
    }
    #Fonctionnement .item{
        margin-left: 20px;
    }
    #Restaurants{
        display: block;
        width: initial;
    }
    #Restaurents .Resto .flex{
        display: block;
    }
    .Resto{
        display: block;
        width: initial;
    }
    footer{
        display: block;
        width: initial;
    }
}
/*telephone*/
@media screen and (max-width:768px){
    header{
        display: block;
    }  
    header .logo{
        width: initial;
        margin: 0px;
    }
    header .nav{
        background-color: #F2F2F2;
        justify-content: center;
        margin: 0px;
    }
    header .logo img{
        height: 30px;
    }
    header .images{
        height: 247px;
    }
    header .logo i{
        color: grey;
    }
    #Acceuil{
        background-color: #F2F2F2;
        margin-top: -21px;
        margin-bottom: 16px;
    }
    .titre{
        width: 100%;
        margin: 0px;
    }
    button{
        margin-bottom: 20px;
        margin-top: 20px;
        width: 210px;
        height: 43px;
    }
    #Fonctionnement{
        display: block;
        width: initial;
    }
    #Fonctionnement .flex{
        display: block;
    }
    #Restaurants{
        display: block;
        width: initial;
    }
    #Restaurents .flex .content{
        display: block;
    }
    .Resto{
        display: block;
        width: initial;
    }
    footer{
        display: block;
        width: initial;
    }
}
