body{
    font-family: 'Roboto', sans-serif;
}
/* header*/
header{
    display: flex;
    justify-content: space-between;
}
header i{
    padding-top: 16px;
    margin-right: 15px
}
.nav{
    display: flex;
}
/*Acceuil*/
button{
    height: 30px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border: none;
    color: white;
    background: linear-gradient(#FF79DA,#9356DC)
}
/*Fonctionnement*/
#Fonctionnement .item{
    display: flex;
    background-color: white;
    box-shadow: 0 0 6px #0000002e;;
    width: 400px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 50px;
    margin-bottom: 15px;
}
#Fonctionnement .item:hover{
    color: #9356DC;
}
#Fonctionnement i{
    margin-left: 50px;
    margin-top: 15px;
    color: black;
}
#Fonctionnement p{
    margin-left: 29px;
    color: black;
}
#Fonctionnement .numbers p{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #9356DC;
    color: white;
    width: 19px;
    margin-left: -6px;
}
#Fonctionnement a{
    display: flex;
    text-decoration: none;
}
/*resto*/
#Restaurants{
    background-color:  #F2F2F2;
    width: 100%;
}
.Resto{
    width: 100%;
}
.Resto img{
    width: 100%;
    border-top-right-radius: 11px;
    border-top-left-radius: 11px;
    margin-top: 1px;
    object-fit: cover;
}
.Resto a{
    margin-right: 15px;
    text-decoration: none;
}
.Resto p,h3,i{
    color: black;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
}
.Resto i:hover{
    color: #FF79DA;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.content{
    background-color: white;
}
/* footer */
footer{
    background-color: black;
}
footer h3{
    color: white;
    margin-left: 48px;
}
footer ul{
    list-style-type: none;
}
footer a{
    display: flex;
    color: white;
    text-decoration: none;
}
footer i{
    color: white;
}
footer li{
    margin-left: 10px;
    margin-top: 3px;
    color: white;
}
/*media queries*/
/*tablettes*/
@media all and (min-width: 768px) and (max-width: 992px){
    header{
        display: block;
    }
    header .logo{
        width: initial;
        margin-left: 40px;
    }
    #Accueil{
        display: block;
        width: initial;
    }
    #Fonctionnement{
        display: block;
        width: initial;
    }
    #Fonctionnement .flex{
        display: block;
    }
    #Fonctionnement .item{
        margin-left: 20px;
    }
    #Restaurants{
        display: block;
        width: initial;
    }
    #Restaurents .Resto .flex{
        display: block;
    }
    .Resto{
        display: block;
        width: initial;
    }
    footer{
        display: block;
        width: initial;
    }
}
/*telephone*/
@media screen and (max-width:768px){
    header{
        display: block;
    }  
    header .logo{
        width: initial;
        margin-left: 40px;
    }
    header .nav{
        background-color: #F2F2F2;
        justify-content: center;
    }
    #Accueil{
        display: block;
        width: initial;
    }
    h1{
        margin-left: 50px;

    }
    #Accueil .titre p{
        margin-left: 50px;

    }
    button{
        margin-left: 110px;
        margin-bottom: 20px;
    }
    #Fonctionnement{
        display: block;
        width: initial;
    }
    #Fonctionnement .flex{
        display: block;
    }
    #Restaurants{
        display: block;
        width: initial;
    }
    #Restaurents .flex .content{
        display: block;
    }
    .Resto{
        display: block;
        width: initial;
    }
    footer{
        display: block;
        width: initial;
    }
}